@model TarefasGestorViewModel
@{
    ViewData["Title"] = "TarefasGestor";
}

<h1>Tarefas do gestor</h1>
@foreach (var tarefa in @Model.Lista)
{
    <h2>Id: @tarefa.IdTarefa </h2>
    <h3>IdStatus: @tarefa.IdStatusTarefa</h3>
    <p>Descrição: @tarefa.Descricao</p>
    <p>Data Limite: @tarefa.DataLimite</p>
    <p>Data Cadastro: @tarefa.DataCadastro</p>
    }

