@using Microsoft.AspNetCore.Http
@using PastelariaMvc.Infra;

@{var token = Context.Session.GetString("Token"); }
@{var idLogado = DecodeToken.getId(token); }
@{var eGestorLogado = DecodeToken.getEGestor(token); }

@model Comentario
@{
    ViewData["Title"] = "Consultar Tarefa";
}

<div class="uk-grid-medium uk-child-width-expand@s uk-margin-large-top" uk-grid>
    <div class="uk-width-1-2">
        <div class="uk-background-muted uk-padding">

            <div class="uk-flex uk-flex-center">
                <h1 class="uk-text-center uk-heading-line"><span>ID: @Model.Tarefa.IdTarefa</span></h1>
            </div>

            <div class="">
                @if(@Model.Tarefa.Status.Nome == "Concluída")
                {
                    <div class="uk-alert-success" uk-alert>
                        <p class="uk-text-bold uk-text-large uk-text-center uk-text-uppercase">Concluída</p>
                    </div>
                } 
                else if (@Model.Tarefa.Status.Nome == "Atrasada")
                {
                    <div class="uk-alert-warning" uk-alert>
                        <p class="uk-text-bold uk-text-large uk-text-center uk-text-uppercase">Atrasada</p>
                    </div>
                } 
                else if (@Model.Tarefa.Status.Nome == "Cancelada")
                {
                    <div class="uk-alert-danger" uk-alert>
                        <p class="uk-text-bold uk-text-large uk-text-center uk-text-uppercase">Cancelada</p>
                    </div>
                } 
                else if(@Model.Tarefa.Status.Nome == "Futura")
                {
                    <div class="uk-alert-primary" uk-alert>
                        <p class="uk-text-bold uk-text-large uk-text-center uk-text-uppercase">Futura</p>
                    </div>
                }
                else if(@Model.Tarefa.Status.Nome == "Agendada")
                {
                    <div class="uk-alert-primary" uk-alert>
                        <p class="uk-text-bold uk-text-large uk-text-center uk-text-uppercase">Agendada</p>
                    </div>
                }
                else
                {
                    <div class="uk-alert-danger" uk-alert>
                        <p class="uk-text-bold uk-text-large uk-text-center uk-text-uppercase">Algo deu errado</p>
                    </div>
                }

            </div>

            <div class="uk-flex uk-flex-center">
                <p>
                    <span class="uk-text-meta">
                        Cadastrada em: 
                        <span class="uk-text-bold">@Model.Tarefa.DataCadastro</span>
                    </span>

                    <span class="uk-text-bold"> | </span>

                    <span class="uk-text-meta">
                        Prazo até: 
                        <span class="uk-text-bold">@Model.Tarefa.DataLimite</span> 
                    </span> 
                </p>
            </div>

            @if(Model.Tarefa.IdGestor == idLogado)
            {
                <div class="uk-flex uk-flex-center">
                    <button class="uk-button uk-button-primary uk-button-small uk-margin-left" uk-toggle="target: #editar-datalimite" type="button">
                        Editar Data Limite
                        <span class="uk-margin-small-left" uk-icon="icon: pencil"></span>
                    </button>
                </div>
            }

            <div class="uk-flex uk-flex-center uk-margin-large">
                <p class="uk-text-lead">
                    <span class="uk-text-bold">Descrição:</span>
                    @Model.Tarefa.Descricao
                </p>
            </div>

            <div class="uk-flex uk-flex-center uk-margin">
                @if(Model.Tarefa.IdGestor == idLogado)
                {
                    <a  class="uk-button uk-button-danger uk-margin-right"
                    asp-area="" asp-controller="Tarefa" asp-action="Cancelar" asp-route-id="@Model.Tarefa.IdTarefa"
                    >
                        Cancelar
                        <span uk-icon="icon: close"></span>
                    </a>

                    <a  class="uk-button uk-button-secondary"
                    asp-area="" asp-controller="Tarefa" asp-action="Concluir" asp-route-id="@Model.Tarefa.IdTarefa"
                    >
                        Concluir
                        <span uk-icon="icon: check"></span>
                    </a>
                }
                else 
                {
                    <a  class="uk-button uk-button-secondary"
                        asp-area="" asp-controller="Tarefa" asp-action="Concluir" asp-route-id="@Model.Tarefa.IdTarefa"
                    >
                        Concluir
                        <span uk-icon="icon: check"></span>
                    </a>
                }
            </div>

            <div class="uk-flex uk-flex-center uk-margin-large-top">
                <a  class="uk-button uk-button-default"
                    asp-area="" asp-controller="Tarefa" asp-action="Listar" asp-route-id="@idLogado">
                    Voltar
                </a>
            </div>

            @* Modal Editar DataLimite *@
            <div id="editar-datalimite" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <h2 class="uk-modal-title">Nova Data Limite</h2>
                    <button class="uk-close-large uk-modal-close-default" type="button" uk-close></button>
                    
                    <form asp-controller="Tarefa" asp-action="EditarDataLimite" asp-route-id="@Model.Tarefa.IdTarefa" method="post" role="form">
                        <div class="uk-margin">
                            <label asp-for="Tarefa.DataLimite" class="uk-form-label uk-text-small"></label>
                            <input asp-for="Tarefa.DataLimite" class="uk-input" placeholder="Selecione uma nova data">
                        </div>
                        <input type="submit" class="uk-button uk-button-primary" value="Editar" />
                    </form>
                </div>
            </div>
            

        </div>
    </div>

    <div class="uk-width-1-2">
        <div class="uk-background-default uk-padding">
            @await Component.InvokeAsync("ConsultarComentariosViewComponent", new { id = @Model.Tarefa.IdTarefa })
            <div class="uk-flex uk-flex-center">
                <button class="uk-button uk-button-primary uk-button-large" uk-toggle="target: #add-comentario" type="button">
                    Adicionar Comentário
                    <span class="uk-margin-small-left" uk-icon="icon: plus"></span>
                </button>
            </div> 

            @* Modal Adicionar Comentario *@
            <div id="add-comentario" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <h2 class="uk-modal-title">Novo Comentário</h2>
                    <button class="uk-close-large uk-modal-close-default" type="button" uk-close></button>

                    <form asp-controller="Tarefa" asp-action="CriarComentario" asp-route-id="@Model.Tarefa.IdTarefa" method="post" role="form">
                        <div class="uk-margin">
                            <label asp-for="Descricao" class="uk-form-label uk-text-small"></label>
                            <input asp-for="Descricao" class="uk-input" type="text" placeholder="Digite o comentário">

                            @* <label asp-for="IdUsuario" class="uk-form-label uk-text-small"></label>
                            <input asp-for="IdUsuario" class="uk-input" placeholder="Digite ID do Autor"> *@
                        </div>
                        <input type="submit" class="uk-button uk-button-primary" value="Postar" />
                    </form>

                    
                </div>
            </div>

        </div>
    </div>
</div>