@model Tarefa
@{
    ViewData["Title"] = "Consultar Tarefa";
}

<div class="uk-grid-medium uk-child-width-expand@s uk-margin-large-top" uk-grid>
    <div class="uk-width-1-2">
        <div class="uk-background-muted uk-padding">
            <div class="uk-flex uk-flex-center">
                <h1 class="uk-text-center uk-heading-line"><span>ID Tarefa: @Model.IdTarefa</span></h1>
            </div>

            <div class="uk-flex uk-flex-center uk-margin-medium">
                <a  class="uk-button uk-button-secondary"
                    asp-area="" asp-controller="Tarefa" asp-action="Concluir" asp-route-id="@Model.IdTarefa"
                >
                    Concluir
                    <span uk-icon="icon: check"></span>
                </a>
                <a  class="uk-button uk-button-danger uk-margin-left"
                    asp-area="" asp-controller="Tarefa" asp-action="Cancelar" asp-route-id="@Model.IdTarefa"
                >
                    Cancelar
                    <span uk-icon="icon: close"></span>
                </a>
            </div>

            <ul class="uk-list uk-list-disc">
                @* <li><span class="uk-text-bold">Id:</span> @Model.IdTarefa</li> *@
                <li><span class="uk-text-bold">Data Limite:</span> @Model.DataLimite</li>
                <li><span class="uk-text-bold">Data Cadastro:</span> @Model.DataCadastro</li>
                <li><span class="uk-text-bold">Status:</span> @Model.IdStatusTarefa</li>
                <li><span class="uk-text-bold">Descrição:</span> @Model.Descricao </li>
            </ul>

            <div class="uk-flex uk-flex-center uk-margin-large-top">
                <a  class="uk-button uk-button-default"
                    asp-area="" asp-controller="Tarefa" asp-action="Listar" asp-route-id="@Model.IdGestor">
                    Voltar
                </a>
            </div>
        </div>
    </div>

    <div class="uk-width-1-2">
        <div class="uk-background-default uk-padding">
            @await Component.InvokeAsync("ConsultarComentariosViewComponent", new { id = @Model.IdTarefa })
            <div class="uk-flex uk-flex-center">
                <button class="uk-button uk-button-primary uk-button-large" uk-toggle="target: #add-comentario" type="button">
                    Adicionar Comentário
                    <span class="uk-margin-small-left" uk-icon="icon: plus"></span>
                </button>
            </div> 

            <div id="add-comentario" uk-modal>
                <div class="uk-modal-dialog uk-modal-body">
                    <h2 class="uk-modal-title">Adicione um comentário</h2>
                    
                    <form asp-controller="Tarefa" asp-action="CriarComentario" method="post" role="form">
                        <div class="uk-margin">
                            <label asp-for="Descricao" class="uk-form-label uk-text-small"></label>
                            <input asp-for="Descricao" class="uk-input" type="text" placeholder="Digite o comentário">

                            <label asp-for="IdTarefa" class="uk-hidden"></label>
                            <input asp-for="IdTarefa" class="uk-hidden" value="@Model.IdTarefa">
                        </div>
                        <input type="submit" class="uk-button uk-button-primary uk-button-small" value="Postar" />
                    </form>

                    <button class="uk-modal-close" type="button"></button>
                </div>
            </div>
        </div>
    </div>
</div>

