@model TarefasGestorStatusViewModel
@{
    ViewData["Title"] = "Consultar Tarefas: Gestor e Status";
}

@* <h1>Tarefa: @Model.IdTarefa</h1> *@
<h1>Tarefa</h1>

@foreach (var tarefa in @Model.Tarefas)
{
  <div>
    <h2>Id: @tarefa.IdTarefa </h2>
    <h3>IdStatus: @tarefa.IdStatusTarefa</h3>
    <p>Descrição: @tarefa.Descricao</p>
    <p>Data Limite: @tarefa.DataLimite</p>
    <p>Data Cadastro: @tarefa.DataCadastro</p>
    @* <p>Data Conclusão: @tarefa.DataConclusao</p> *@
  </div>

}