@model ConsultarTarefasUsuarioViewModel
@{
    ViewData["Title"] = "Tarefas Em Andamento";
}


<div class="uk-margin-medium uk-margin-small-top">
    <h1 class="uk-text-center uk-heading-line"><span>Tarefas Em Andamento</span></h1>
</div>

<div class="uk-container uk-flex uk-flex-center uk-margin-medium">
    <a class="uk-button uk-button-text uk-button-large"
        asp-area="" asp-controller="Tarefa" asp-action="Criar">
        <span class="uk-text-large uk-text-light">Criar Tarefa</span>
    </a>
</div>

<table class="uk-table uk-table-striped">
    <thead>
        <tr>
            <th class="uk-width-small">Id</th>
            <th>Status</th>
            <th>Descrição</th>
            <th>Data Limite</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
      @foreach (var tarefa in @Model.Lista)
      {
        <tr>
          <td>@tarefa.IdTarefa</td>
          <td>@tarefa.Status.Nome</td>
          <td>@tarefa.Descricao</td>
          <td>@tarefa.DataLimite</td>
          <td>
            <a asp-area="" asp-controller="Tarefa" asp-action="ConsultarTarefa" asp-route-id="@tarefa.IdTarefa">
              <button class="uk-button uk-button-primary uk-button-small uk-margin-right" type="button">Detalhes</button>
            </a>

            @* <a  class="uk-button uk-button-danger uk-button-small uk-margin-right"
                asp-area="" asp-controller="Tarefa" asp-action="Cancelar" asp-route-id="@tarefa.IdTarefa"
            >
                <span uk-icon="icon: close"></span>
            </a>
            <a  class="uk-button uk-button-secondary uk-button-small"
                asp-area="" asp-controller="Tarefa" asp-action="Concluir" asp-route-id="@tarefa.IdTarefa"
            >
                <span uk-icon="icon: check"></span>
            </a> *@
          </td>
        </tr>
      }
    </tbody>
</table>