@model ConsultarTarefasUsuarioViewModel
@* @model Usuario *@

@{
    ViewData["Title"] = "Todas as Tarefas";
}

@section styles {
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/uikit/3.0.2/css/uikit.min.css" />
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.23/css/dataTables.uikit.min.css" />

    <style>
       .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
           border: 1px solid #c0c0c0 !important;
           background: transparent !important;
       }
    </style>
}

@section scripts {
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" src="https://cdn.datatables.net/1.10.23/js/dataTables.uikit.min.js"></script>
    <script>
        // DataTable - ListarTarefa 
        $(document).ready( function () {
            $('#VerTodas').DataTable( {
                "language": {
                    "url": "//cdn.datatables.net/plug-ins/1.10.22/i18n/Portuguese-Brasil.json"
                }
            } );
        });
    </script>
}

<div class="uk-margin-medium uk-margin-small-top">
    <h1 class="uk-text-center uk-heading-line"><span>Todas as Tarefas</span></h1>
</div>

@*
<div>
     <div class="uk-flex uk-flex-center">
      <ul class="uk-subnav uk-subnav-pill">
          <li>
            <a href="#">Todas</a>
          </li>
          <li>
            <a href="#">Atrasada</a>
          </li>
          <li>
            <a href="#">Agendada</a>
          </li>
          <li>
            <a href="#">Futura</a>
          </li>
          <li>
            <a href="#">Concluída</a>
          </li>
          <li>
            <a href="#">Cancelada</a>
          </li>
      </ul>
    </div> 
     @await Component.InvokeAsync("ConsultarTarefasStatusViewComponent", new { id = 1, status =  }) 
  </div> 
*@

<div class="uk-overflow-auto">
    <table id="VerTodas" class="uk-table uk-table-striped">
        <thead>
            <tr>
                <th>Id</th>
                <th>Descrição</th>
                <th>Status</th>
                <th>Data Limite</th>
                <th>Data Cadastro</th>
                <th>Data Conclusão</th>
                <th>Data Cancelamento</th>
                <th>Ações</th>
            </tr>
        </thead>

        <tbody>
          <div>
          @foreach (var tarefa in @Model.Lista)
          {
                <tr> 
                  <td>@tarefa.IdTarefa</td>
                  <td>@tarefa.Descricao</td>
                  <td>@tarefa.Status.Nome</td>
                  <td>@tarefa.DataLimite</td>
                  <td>@tarefa.DataCadastro</td>
                  <td>@tarefa.DataConclusao</td>
                  <td>@tarefa.DataCancelada</td>
                  <td>
                    <a asp-area="" asp-controller="Tarefa" asp-action="ConsultarTarefa" asp-route-id="@tarefa.IdTarefa"
                      class="uk-button uk-button-primary uk-button-small">
                      Comentarios
                    </a>
                  </td>
                </tr>
          }
          </div>
        </tbody>
    </table>
</div>