@model ConsultarTarefasUsuarioViewModel

<h1>Tarefas</h1>

<table class="uk-table uk-table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th>Descrição</th>
            <th>Data Limite</th>
            <th>Data Cadastro</th>
            <th>Data Conclusao</th>
            <th>Data Cancelamento</th>
            <th>Ações</th>
        </tr>
    </thead>
    <tbody>
      @foreach (var tarefa in @Model.Lista)
      {
        <tr>
          <td>@tarefa.IdTarefa</td>
          <td>@tarefa.Descricao</td>
          <td>@tarefa.DataLimite</td>
          <td>@tarefa.DataCadastro</td>
          <td>@tarefa.DataConclusao</td>
          <td>@tarefa.DataCancelada</td>
          <td>
            <a asp-area="" asp-controller="Tarefa" asp-action="ConsultarTarefa" asp-route-id="@tarefa.IdTarefa"
               class="uk-button uk-button-primary uk-button-small">
              Ver Comentarios
            </a>
          </td>
        </tr>
      }
    </tbody>
</table>