@model Usuario
@{
    ViewData["Title"] = "Consultar Usuário";
}

<div class="uk-margin-medium uk-margin-small-top">
    <h1 class="uk-text-center uk-heading-line"><span>Detalhes Usuário Id: @Model.IdUsuario</span></h1>
</div>

<div class="uk-container uk-flex uk-flex-center uk-margin-medium">

  @if(@Model.EGestor)
  {
    <a class="uk-button uk-button-text uk-button-large uk-margin-medium-right" 
        asp-area="" asp-controller="Usuario" asp-action="AtualizarGestor" asp-route-id="@Model.IdUsuario"
    >
        <span class="uk-text-large uk-text-light">Editar Dados</span>
    </a>
  }
  else
  {
    <a class="uk-button uk-button-text uk-button-large uk-margin-medium-right" 
        asp-area="" asp-controller="Usuario" asp-action="AtualizarSubordinado" asp-route-id="@Model.IdUsuario"
    >
        <span class="uk-text-large uk-text-light">Editar Dados</span>
    </a>
  }
    
</div>

<div class="uk-container uk-container-xsmall">

    <div class="uk-section uk-section-muted uk-card uk-card-hover uk-card-default uk-card-body">
        <div class="uk-container uk-container-small">
            <h2 class="uk-heading-divider">Dados Pessoais</h2>

            <ul class="uk-list uk-list-disc">
                <li><span uk-text-bold>Nome:</span> @Model.Nome</li>
                <li><span uk-text-bold>Sobrenome:</span> @Model.Sobrenome</li>
                <li><span uk-text-bold>Data Nascimento:</span> @Model.DataNascimento</li>
                @if(!@Model.EGestor)
                {
                  <li><span uk-text-bold>Gestor:</span> @Model.Gestor.Nome @Model.Gestor.Sobrenome</li>
                }
            </ul>
        </div>
    </div>
    <br>

    <div class="uk-section uk-section-default uk-card uk-card-hover uk-card-default uk-card-body">
        <div class="uk-container uk-container-small">
            <h2 class="uk-heading-divider">Dados de Contato</h2>

            <ul class="uk-list uk-list-disc">
                <li><span uk-text-bold>Endereço de email:</span> @Model.Email.EnderecoEmail</li>
                <li><span uk-text-bold>DDD:</span> @Model.Telefone.DDD</li>
                <li><span uk-text-bold>Telefone:</span> @Model.Telefone.Numero</li>
            </ul>
        </div>
    </div>
    <br>

    <div class="uk-section uk-section-muted uk-card uk-card-hover uk-card-default uk-card-body">
        <div class="uk-container uk-container-small">
            <h2 class="uk-heading-divider">Dados de Endereço</h2>

            <ul class="uk-list uk-list-disc">
                <li><span uk-text-bold>Cidade:</span> @Model.Endereco.Cidade</li>
                <li><span uk-text-bold>UF:</span> @Model.Endereco.UF</li>
                <li><span uk-text-bold>Bairro:</span> @Model.Endereco.Bairro</li>
                <li><span uk-text-bold>Rua:</span> @Model.Endereco.Rua</li>
                <li><span uk-text-bold>Número:</span> @Model.Endereco.Numero</li>
                <li><span uk-text-bold>Complemento:</span> @Model.Endereco.Complemento</li>
                <li><span uk-text-bold>CEP:</span> @Model.Endereco.CEP</li>
            </ul>
        </div>
    </div>

</div>
